{% extends "base.twig" %}


{% block main %}


          <div class="row ">
            <div class="col-6">
              <br>
              <h2>Recent Experiments</h2>
            </div>
          </div>

<hr>


              {% for page in pages("blog")|sort_by("time")|reverse if not page.hidden %}
              <div class="row exp">
                  <div class="col-6">
                      <p class="date">{{ page.date_formatted }}</p>
                      <h1 class="expTitle"><a href="{{ page.url }}">{{ page.title }}</a></h1>
                      <p class="excerpt">{{ page.description }}</p>

                  </div>

              </div>
              {% endfor %}

            <div class="col-9">
              {{ content }}
            </div>



{% endblock %}
