{% extends "base.twig" %}


{% block main %}


          <div class="row ">
            <div class="col-6">
              <div class="back">
                <a href="{{ pages["index"].url }}">Back</a>
              </div>
            </div>
          </div>

<hr>


              {% for page in pages("blog")|sort_by("time")|reverse if not page.hidden %}
              <div class="row exp">
                  <div class="col-6">
                      <p class="vertical">{{ page.date_formatted|date("d-m-Y") }}</p>
                      <h1 class="expTitle"><a href="{{ page.url }}">{{ page.title }}</a></h1>
                      <p class="excerpt">{{ page.description }}</p>

                  </div>

              </div>
              {% endfor %}

            <div class="col-9">
              {{ content }}
            </div>



{% endblock %}
